@import "tachyons-flexbox";
@import "react-data-grid/dist/react-data-grid.css";

:root {
  --mainBackground: #f1f1f1;
  --secondaryBackground: #ddd;
  --edgeshadow: #bbb;
  --textColor: #444;
  --textLightColor: #999;
  --darkRed: #ff4136;
  --lightRed: #EF9A9A;
  --info: #81D4FA;
}

body {
  background-color: var(--mainBackground);
  color: var(--textColor);
}

button {
  border-radius: 0px;
}

input.masker { -webkit-text-security: disc; }

.form-list {
  list-style-type: none;

  & label {
    flex: 1 0 16rem;
  }
}

.fdn {
  display: none !important;
}

.bg-mainbg{
  background-color: var(--mainBackground) !important;
}

.shadowed{
  box-shadow: 5px 5px 20px grey;
}

.cover{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background-color: rgba(0,0,0,0.25);
}

.no-list-style {
  list-style-type: none;
  & ul {
    list-style-type: none;
    & li {
      list-style-type: none;
    }
  }
}

.clickable {
  cursor: pointer;
}

.nonclickable {
  cursor: default;
}

.metadata-class-name {

}

.da-effect:disabled {
  opacity: 0.5;
}

a {
  outline: 0 !important;
  &:active, &:active, &:focus {
    outline: 0 !important;
  }
}

.failed-tag{
  height: 1rem;
  width: 1rem;
  background-color: var(--darkRed);
  color: var(--mainBackground);
  align-self: center;
  padding: 0.15rem;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  text-align: center;
  margin-right: 5px;
}

.react-grid-Toolbar {
  background-color: var(--mainBackground);
  border: none;
}

.treeview {
  font-weight: 700;
  color: var(--textColor);
  & .leaf {
    font-weight: normal;
    & span{
      color: var(--textLightColor);
      &::before{
        content: ':';
        margin: 0px 3px;
      }
    }
  }
  & .branch {
    margin-left: 0.5rem;
    padding-left: 1rem;
    border-left: 1px solid var(--textLightColor);
  }
  & button{
    border: none;
    background: none;
    width: 1rem;
    padding: 0px;
    margin-right: 0.5rem;
    font-size: 75%;
    color: var(--textColor);
    &:focus{
      outline: none;
      color: var(--darkRed);
    }
  }
}

.dragableWindow{
  position: fixed;
  border-radius: 10px;
  border: 1px solid var(--textColor);
  background-color: var(--mainBackground);
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 550;
  box-shadow: 2px 2px 10px grey;
  & .title{
    align-items: center;
    display: flex;
    padding: 20px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
  }
  & .body{
    padding:20px;
    max-height: 20rem;
    overflow: scroll;
  }
}

.treeSeachBar {
    width: 100%;
    margin: 0.5rem;
    border: none;
    font-size: 120%;
}

.form-control.input-sm {
  width: 100%;
}

.activeFullTag {
  padding: 3px 8px;
  border-radius: 3px;
  color: var(--mainBackground);
  display: inline-block;
  margin: 5px;
}

.activeStartTag {
  display: inline-block;
  width: 4px;
  margin-right: 5px;
}

.navbarAutocomplete {
  position: relative;
  z-index: 100;

  width: 400px;
  margin: 0.5rem 0;

  & > div {
    width: 100%;
    & > input{
      color: black;
      background-color: var(--mainBackground);
      border:none;
      padding: 10px 30px;
      width: inherit;
      box-sizing: border-box;
      &::placeholder {
        color:black;
        opacity: 0.5;
      }
      &:hover{
      }
      &:focus{
        outline: none;
      }
    }
  }
  & > .error-out{
    color: var(--darkRed);
    position: absolute;
    top: -1.2rem;
    font-weight: 700;
    font-size: 0.8rem;
    animation-name: example;
    animation-delay: 7s;
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  & > .tag{
    position: absolute;
    display: inline-block;
    left: 380px;
    top: 5px;
    font-size: 150%;
    font-weight: 700;
  }

  & > .alert{
    color: var(--darkRed);
    animation-name: alert;
    animation-duration: 1.5s;
    animation-iteration-count: 2;
    animation-delay: 2s;
    animation-timing-function: ease;
  }
}

@keyframes alert {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-20px);
  }
  50%{
  transform: translateY(15px);
  }
  60%{
  transform: translateY(-10px);
  }
  80%{
  transform: translateY(5px);
  }
  100%{
  transform: translateY(0);
  }
}

@keyframes example {
    from {opacity: 1}
    to {opacity: 0}
}

.titleSelectBox {
  max-height: 400px;
  overflow-y: scroll;
  & > div {
      padding: 5px 20px;
      display: flex;
  }
}

.titleBottom {
  background-color: white;
  color: var(--textColor);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  padding: 5px;
  display: flex;
  & .default{
    display: block;
    background-color: var(--secondaryBackground);
    border: none;
    font-weight: 600;
    border-radius: 0.5rem;
    margin: auto;
    color: var(--textColor);
    padding: 0.3rem 2rem;
  }
}

.customInput{
  border: none;
  border-bottom: 3px solid var(--textColor);
  color: var(--textColor);
  background: none;
  margin: 10px;
  padding: 5px;
  &:focus {
    outline: none;
    border-color: var(--darkRed);
  }
}

.customTabElementA {
  color: var(--textColor);
  & > .customTabBar{
    background-color: black;
    height: 50px;
    & .customTabSection{
      bottom: -3px;
      & .customTabSelect{
        background: transparent;
        color: var(--mainBackground);
        border: none;
        border-bottom: 6px solid transparent;
        height: 100%;
        margin: 0px 5px;
        padding: 5px 20px;
        &.active{
          border-bottom-color: var(--darkRed);
        }
        &:focus{
          color: var(--darkRed);
        }
      }
      & .customClose{
        color: var(--mainBackground);
      }
    }
  }
  & > .customTab{
  }
}

.customTabElementB {
  color: var(--textColor);
  & > .customTabBar{
    padding: 0px 5px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
    padding-top: 0.5rem;
    height: 40px;
    & .customTabSection{
      bottom: -1px;
      & .customTabSelect{
        background: transparent;
        border: 1px solid transparent;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 100%;
        margin: 0px 5px;
        padding: 5px 20px;
        &.active{
          background-color: var(--mainBackground);
          border-color: var(--textColor);
        }
        &:focus{
          color: var(--darkRed);
        }
      }
      & .customClose{
        color: var(--textColor);
      }
    }
  }
  & > .customTab{
  }
}

.customTabElementU {
  & > .customTabBar{
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    & .customTabSection{
      position: relative;
      height: 100%;
      display: inline-block;
      & .customTabSelect{
        cursor: pointer;
        position: relative;
        z-index: 5;
        &:focus{
          outline:none;
        }
      }
      & .customClose{
        position: absolute;
        right: 1px;
        height: 75%;
        width: 30px;
        border: none;
        background-color: transparent;
        font-size: 75%;
        z-index: 6;
        opacity: 0;
        display: none;
        &:focus{
          outline:none;
        }
      }
      &:hover{
        & .customClose{
          display: inline-block;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  & > .customTab{
    position: relative;
    z-index: 1;
  }
}

.customCombo {
  box-sizing:border-box;
  border: 1px solid var(--textColor);
  display: table;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  & .customComboButton{
    background-color: var(--textColor);
    border: none;
    border-right: 1px solid var(--textColor);
    color: var(--mainBackground);
    box-sizing:border-box;
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    &:focus{
      outline:none;
      color:var(--darkRed);
    }
    &:active{
      color: var(--textColor);
      background-color: transparent;
    }
  }
  & .customComboInput{
    background-color: transparent;
    border: none;
    color: var(--textColor);
    box-sizing:border-box;
    height: 100%;
    padding: 0px 10px;
    &:focus{
      outline:none;
    }
  }
}

.customTitle{
  font-size: 150%;
  font-weight: 700;
  cursor: default;
}

.customCenterTitle{
  font-weight: 700;
  text-align: center;
}

.customResultsSimpleTitle{
  font-weight: 700;
  display: inline-block;
  padding: 5px 0px;
}

.customResultsButtonTitle{
  background-color: var(--textColor);
  border: none;
  color: var(--mainBackground);
  box-sizing:border-box;
  height: 100%;
  padding: 5px 10px;
  border-radius: 10px;
}

.customButton{
  cursor: pointer;
  background-color: var(--textColor);
  border: none;
  color: var(--mainBackground);
  box-sizing:border-box;
  height: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  &:focus{
    outline:none;
    color:var(--darkRed);
  }
  &:active{
    color: var(--textColor);
    background-color: transparent;
  }
}

.customInputBar{
  border: none;
  border-bottom: 1px solid var(--textColor);
  background-color: transparent;
  color: var(--textColor);
  &:focus{
    outline:none;
  }
}

.customResultsSet {
  border-radius: 10px;
  border: 1px solid var(--textColor);
  overflow: hidden;
  margin-bottom: 20px;
  & .customResultsTitle{
    padding: 20px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
  }
  & .customResultsBody{
    padding:20px;
  }
  & .customResultsFoot{
    padding: 10px 20px;
    background-color: var(--secondaryBackground);
    border-top: 1px solid var(--textColor);
  }
}

.customResultsCompactSet {
  border-radius: 10px;
  border: 1px solid var(--textColor);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: relative;
  & .customResultsTitle{
    padding: 5px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
  }
  & .customResultsBody{
    padding:5px;
  }
  & .customResultsFoot{
    padding: 5px;
    background-color: var(--secondaryBackground);
    border-top: 1px solid var(--textColor);
  }
  &:not(:first-child){
    margin-top: 10px;
  }
}

.customCloseElement{
  position: relative;
  & .customCloseButton{
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 0;
    color: var(--textColor);
    display: none;
    &:focus{
      outline:none;
    }
  }
  &:hover{
    & .customCloseButton{
      display: block;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.customListSpacing{
  & > li{
    &:not(:first-child){
      margin-top: 10px;
    }
  }
}

.customButtonSet{
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    & button{
      background-color: var(--textColor);
      border: none;
      margin-left: 1px;
      color: var(--mainBackground);
      box-sizing:border-box;
      height: 100%;
      padding: 5px 10px;
      cursor: pointer;
      &:focus{
        outline:none;
        color:var(--darkRed);
      }
      &:active{
        color: var(--textColor);
        background-color: transparent;
      }
      &:first-child{
        margin: 0px;
      }
    }
}

.customHoverSection{
  position: relative;
  overflow: visible;
  padding: 0px;
  margin: 0px;
  & > .customHoverBar{
    position: relative;
    z-index: 201;
    height:30px;
    padding: 5px 10px;
    margin-right: 40px;
    border: none;
    background-color: var(--mainBackground);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 600;
    &:focus{
      outline:none;
    }
  }
  & > .customHoverBody{
    display: none;
    position: absolute;
    z-index: 200;
    right: 30px;
    min-width: 500px;
    background-color: var(--mainBackground);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-top: none;
    padding: 20px;
    padding-top: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:hover{
    & > .customHoverBody {
      display: block;
    }
    & > .customHoverBar{
      background-color: var(--secondaryBackground);
    }
  }
  &:focus-within{
    & > .customHoverBody {
      display: block;
    }
    & > .customHoverBar{
      background-color: var(--secondaryBackground);
    }
  }
}

.rd-focus:focus{
  color: var(--darkRed);
}

@keyframes load{
    0%   {background-color: var(--textColor); right:0;}
    50%  {background-color: var(--darkRed);right:45%;}
    100%  {background-color: var(--textColor);right:90%;}
}

.loading-wrap{
  position: relative;
  text-align: center;
  padding: 50px 200px;
  & .loading{
    position: relative;
    font-size: 200%;
    &::after{
      content: '';
      display: block;
      position: absolute;
      background-color:var(--textColor);
      width:10%;
      height: 3px;
      bottom: -3px;
      right:0px;
      animation-name: load;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }
}

.customSearchFormater{
  & > input{
    border: none;
    background-color: transparent;
    width: 100%;
  }
  & > button{
    opacity: 0.2;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    background-color: transparent;
    color: var(--textColor);
    margin:2px;
    cursor: pointer;
  }
  & :focus{
    outline: none;
  }
}

.customSelect{
  margin-top: 10px;
  border: 1px solid var(--textColor);
  color: var(--textColor);
}

.hoverExpand{
  display: inline-block;
  position: relative;
  & .expander{
    display: none;
    position: absolute;
    z-index: 50;
    background-color: var(--secondaryBackground)
  }
  &:hover {
    & .expander{
      display: inline-block;
    }
  }
}

.customSourceInputButton{
  font-size: 150%;
  color: var(--mainBackground);
  background: none;
  border: none;
  font-weight: bolder;
  &:focus{
    outline: none;
    color: var(--darkRed);
  }
}

.wireloger{
    width: 100%;
    display: flex;
    flex-direction: column;
    & .title{
      margin: 0px;
      padding: 10px;
      font-size: 1.2em;
      background-color: var(--secondaryBackground);
      border-bottom: 1px solid var(--textColor);
      color: var(--textColor);
    }
    & .scrollable{
      overflow: scroll;
      padding: 0 25px;
      height: 100%;
    }
    & .event{
      margin: 5px;
      border: 1px solid var(--textColor);
      background-color: var(--secondaryBackground);
      color: var(--textColor);
      border-radius: 10px;
      overflow: hidden;
      & h1{
        font-size: 1.1em;
        margin: 0px;
        padding: 10px;
        border-bottom: 1px solid var(--textColor);
        & button{
          float: right;
          font-size: 0.5em
        }
      }
      & pre{
        margin-left: 5px;
        background-color: var(--mainBackground);
        margin: 0px;
        padding: 10px;
        overflow: hidden;
        overflow-x: scroll;
      }
    }
    & .Infoevent{
      margin: 5px;
      border: 1px solid var(--textColor);
      background-color: var(--info);
      color: var(--textColor);
      border-radius: 10px;
      overflow: hidden;
      & h1{
        font-size: 1.1em;
        margin: 0px;
        padding: 10px;
        border-bottom: 1px solid var(--textColor);
        & button{
          float: right;
          font-size: 0.5em
        }
      }
      & pre{
        margin-left: 5px;
        background-color: var(--mainBackground);
        margin: 0px;
        padding: 10px;
        overflow: hidden;
        overflow-x: scroll;
      }
    }
    & .Errorevent{
      margin: 5px;
      border: 1px solid var(--textColor);
      background-color: var(--darkRed);
      color: var(--textColor);
      border-radius: 10px;
      overflow: hidden;
      & h1{
        font-size: 1.1em;
        margin: 0px;
        padding: 10px;
        color: var(--mainBackground);
        border-bottom: 1px solid var(--textColor);
        & button{
          float: right;
          font-size: 0.5em
        }
      }
      & pre{
        margin-left: 5px;
        background-color: var(--mainBackground);
        margin: 0px;
        padding: 10px;
        overflow: hidden;
        overflow-x: scroll;
      }
    }
}
