@import "tachyons-flexbox";
@import "react-data-grid/dist/react-data-grid.css";

:root {
  --mainBackground: #f1f1f1;
  --secondaryBackground: #dddddd;
  --textColor: #444;
  --darkRed: #ff4136;
}

body {
  background-color: var(--mainBackground);
  color: var(--textColor);
}

.form-list {
  list-style-type: none;

  & label {
    flex: 1 0 16rem;
  }
}

.no-list-style {
  list-style-type: none;
  & ul {
    list-style-type: none;
    & li {
      list-style-type: none;
    }
  }
}

.clickable {
  cursor: pointer;
}

.nonclickable {
  cursor: default;
}

.metadata-class-name {

}

.da-effect:disabled {
  opacity: 0.5;
}

a {
  outline: 0 !important;
  &:active, &:active, &:focus {
    outline: 0 !important;
  }
}

.react-grid-Toolbar {
  background-color: var(--mainBackground);
  border: none;
}

.form-control.input-sm {
  width: 100%;
}

.titleInput {
  & input{
    color: black;
    background-color: var(--mainBackground);
    border:none;
    padding: 10px 30px;
    width: inherit;
    &::placeholder {
      color:black;
      opacity: 0.5;
    }
    &:hover{
    }
    &:focus{
      outline: none;
    }
  }
  & div{
    width: inherit;
    border-radius: 0px !important;
  }

  & div div{
    padding: 8px 30px;
    width: 460px;
    opacity: 1;
  }
}

.customTabElementA {
  color: var(--textColor);
  & > .customTabBar{
    background-color: black;
    & .customTabSection{
      bottom: -3px;
      & .customTabSelect{
        background: transparent;
        color: var(--mainBackground);
        border: none;
        border-bottom: 6px solid transparent;
        height: 100%;
        margin: 0px 5px;
        padding: 5px 20px;
        &.active{
          border-bottom-color: var(--darkRed);
        }
        &:focus{
          color: var(--darkRed);
        }
      }
      & .customClose{
        color: var(--mainBackground);
      }
    }
  }
  & > .customTab{
  }
}

.customTabElementB {
  color: var(--textColor);
  & > .customTabBar{
    padding: 0px 5px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
    padding-top: 0.5rem;
    & .customTabSection{
      bottom: -1px;
      & .customTabSelect{
        background: transparent;
        border: 1px solid transparent;
        border-bottom: none;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 100%;
        margin: 0px 5px;
        padding: 5px 20px;
        &.active{
          background-color: var(--mainBackground);
          border-color: var(--textColor);
        }
        &:focus{
          color: var(--darkRed);
        }
      }
      & .customClose{
        color: var(--textColor);
      }
    }
  }
  & > .customTab{
  }
}

.customTabElementU {
  & > .customTabBar{
    position: relative;
    height: 40px;
    padding-left: 1rem;
    padding-right: 1rem;
    & .customTabSection{
      position: relative;
      height: 100%;
      display: inline-block;
      & .customTabSelect{
        cursor: pointer;
        position: relative;
        z-index: 5;
        &:focus{
          outline:none;
        }
      }
      & .customClose{
        position: absolute;
        right: 1px;
        height: 75%;
        width: 30px;
        border: none;
        background-color: transparent;
        font-size: 75%;
        z-index: 6;
        opacity: 0;
        display: none;
        &:focus{
          outline:none;
        }
      }
      &:hover{
        & .customClose{
          display: inline-block;
          opacity: 0.5;
          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }
  & > .customTab{
    position: relative;
    z-index: 1;
  }
}

.customCombo {
  box-sizing:border-box;
  border: 1px solid var(--textColor);
  display: table;
  height: 30px;
  border-radius: 10px;
  overflow: hidden;
  & .customComboButton{
    background-color: var(--textColor);
    border: none;
    border-right: 1px solid var(--textColor);
    color: var(--mainBackground);
    box-sizing:border-box;
    height: 100%;
    padding: 0px 10px;
    cursor: pointer;
    &:focus{
      outline:none;
      color:var(--darkRed);
    }
    &:active{
      color: var(--textColor);
      background-color: transparent;
    }
  }
  & .customComboInput{
    background-color: transparent;
    border: none;
    color: var(--textColor);
    box-sizing:border-box;
    height: 100%;
    padding: 0px 10px;
    &:focus{
      outline:none;
    }
  }
}

.customTitle{
  font-size: 150%;
  font-weight: 700;
  cursor: default;
}

.customCenterTitle{
  font-weight: 700;
  text-align: center;
}

.customResultsSimpleTitle{
  font-weight: 700;
  display: inline-block;
  padding: 5px 0px;
}

.customResultsButtonTitle{
  background-color: var(--textColor);
  border: none;
  color: var(--mainBackground);
  box-sizing:border-box;
  height: 100%;
  padding: 5px 10px;
  border-radius: 10px;
}

.customButton{
  cursor: pointer;
  background-color: var(--textColor);
  border: none;
  color: var(--mainBackground);
  box-sizing:border-box;
  height: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  &:focus{
    outline:none;
    color:var(--darkRed);
  }
  &:active{
    color: var(--textColor);
    background-color: transparent;
  }
}

.customInputBar{
  border: none;
  border-bottom: 1px solid var(--textColor);
  background-color: transparent;
  color: var(--textColor);
  &:focus{
    outline:none;
  }
}

.customResultsSet {
  border-radius: 10px;
  border: 1px solid var(--textColor);
  overflow: hidden;
  margin-bottom: 20px;
  & .customResultsTitle{
    padding: 20px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
  }
  & .customResultsBody{
    padding:20px;
  }
  & .customResultsFoot{
    padding: 10px 20px;
    background-color: var(--secondaryBackground);
    border-top: 1px solid var(--textColor);
  }
}

.customResultsCompactSet {
  border-radius: 10px;
  border: 1px solid var(--textColor);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: relative;
  & .customResultsTitle{
    padding: 5px;
    background-color: var(--secondaryBackground);
    border-bottom: 1px solid var(--textColor);
  }
  & .customResultsBody{
    padding:5px;
  }
  & .customResultsFoot{
    padding: 5px;
    background-color: var(--secondaryBackground);
    border-top: 1px solid var(--textColor);
  }
  &:not(:first-child){
    margin-top: 10px;
  }
}

.customCloseElement{
  position: relative;
  & .customCloseButton{
    position: absolute;
    bottom: 2px;
    right: 2px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 0;
    color: var(--textColor);
    display: none;
    &:focus{
      outline:none;
    }
  }
  &:hover{
    & .customCloseButton{
      display: block;
      opacity: 0.5;
      &:hover{
        opacity: 1;
      }
    }
  }
}

.customListSpacing{
  & > li{
    &:not(:first-child){
      margin-top: 10px;
    }
  }
}

.customButtonSet{
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    & button{
      background-color: var(--textColor);
      border: none;
      margin-left: 1px;
      color: var(--mainBackground);
      box-sizing:border-box;
      height: 100%;
      padding: 5px 10px;
      cursor: pointer;
      &:focus{
        outline:none;
        color:var(--darkRed);
      }
      &:active{
        color: var(--textColor);
        background-color: transparent;
      }
      &:first-child{
        margin: 0px;
      }
    }
}

.customHoverSection{
  position: relative;
  overflow: visible;
  padding: 0px;
  margin: 0px;
  & > .customHoverBar{
    position: relative;
    z-index: 201;
    height:30px;
    padding: 5px 10px;
    margin-right: 40px;
    border: none;
    background-color: var(--mainBackground);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-top: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 600;
  }
  & > .customHoverBody{
    display: none;
    position: absolute;
    z-index: 200;
    right: 30px;
    min-width: 400px;
    background-color: var(--mainBackground);
    color: var(--textColor);
    border: 1px solid var(--textColor);
    border-top: none;
    padding: 20px;
    padding-top: 40px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &:hover {
    & > .customHoverBody {
      display: block;
    }
    & > .customHoverBar{
      background-color: var(--secondaryBackground);
    }
  }
}

.rd-focus:focus{
  color: var(--darkRed);
}

@keyframes load{
    0%   {background-color: var(--textColor); right:0;}
    50%  {background-color: var(--darkRed);right:45%;}
    100%  {background-color: var(--textColor);right:90%;}
}

.loading-wrap{
  position: relative;
  text-align: center;
  padding: 50px 200px;
  & .loading{
    position: relative;
    font-size: 200%;
    &::after{
      content: '';
      display: block;
      position: absolute;
      background-color:var(--textColor);
      width:10%;
      height: 3px;
      bottom: -3px;
      right:0px;
      animation-name: load;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }
}

.customSearchFormater{
  & > input{
    border: none;
    background-color: transparent;
    width: 100%;
  }
  & > button{
    opacity: 0.2;
    border: 1px solid var(--textColor);
    border-radius: 5px;
    background-color: transparent;
    color: var(--textColor);
    margin:2px;
    cursor: pointer;
  }
  & :focus{
    outline: none;
  }
}

.customSelect{
  margin-top: 10px;
  border: 1px solid var(--textColor);
  color: var(--textColor);
}

input.masker { -webkit-text-security: disc; }
