@import "tachyons-flexbox";
@import "react-data-grid/dist/react-data-grid.css";

:root {
  --mainBackground: #f1f1f1;
  --textColor: #444;
}

body {
  background-color: var(--mainBackground);
  color: var(--textColor);
}

.form-list {
  list-style-type: none;

  & label {
    flex: 1 0 16rem;
  }
}

.no-list-style {
  & ul {
    list-style-type: none;
    & li {
      list-style-type: none;
    }
  }
}

.clickable {
  cursor: pointer;
}

.min-vh-100 {
  min-height: 100vh;
}

.metadata-class-name {

}

a {
  outline: 0 !important;
  &:active, &:active, &:focus {
    outline: 0 !important;
  }
}
